.block-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0 10%;
}

.block {
    min-height: 292px;
    width: 410px;
    padding: 10px;
    margin: 15px 20px 0 !important;
    background: #f6f6f6;
    box-shadow: 2px 1px 3px #c3c5c5;
}

.block-img {
    float: left;
    max-width: 174px;
    height: 219px;
}

.block h2 {
    font: inherit;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    color: #00afcd;
    margin: 0.5em 0.25em;
}

.block-content {
    color: #000;
    font-size: 13px;
    margin: 0.5em;
}

.block-container {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.block-button {
    color: #555;
    text-decoration: none;
    font-size: 15px;
    border: solid 2px #555;
    width: 180px;
    text-transform: uppercase;
    margin: .5em 0;
    padding: 8px 25px 8px 10px;
    cursor: pointer;
    /*background: url(../arrow-right-12.png) no-repeat right center;*/
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD 0iTTE3LjE3IDMyLjkybDkuMTctOS4xNy05LjE3LTkuMTcgMi44My0yLjgzIDEyIDEyLTEyIDEyeiIvPjxwYXRoIGQ9Ik0wLS4yNWg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+") no-repeat right center;
    background-size: 20px;
}
.button-disabled {
    /*background-color: #999;*/
    opacity: .3;
}